.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.languages {
    grid-area: languages;
    display: flex;
    flex-wrap: wrap;
}

.engines {
    grid-area: engines;
}

.from {
    grid-area: from;
}

.to {
    grid-area: to;
}

.fromAudio {
    grid-area: fromAudio;
}

.translateButton {
    grid-area: translateButton
}

.toAudio {
    grid-area: toAudio
}

form {
    display: grid;
    grid-template-areas: 'engines engines engines engines' 'languages languages languages languages' 'from from to to' 'fromAudio translateButton toAudio toAudio';
}

.wrap-right {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 1400px;
    margin: 10px 5px;
    align-items: center;
    justify-content: space-evenly;
}

.wrap-right .left {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.wrap-right .alone {
    justify-content: end;
}

.fromAudio {
    margin: 5px 5px;
}

.toAudio {
    margin: 5px 5px;
}

.translateButton {
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.center {
    width: max-content;
    margin: auto;
    align-items: center;
}

.item {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    margin: 0;
}

.item-wrapper {
    box-sizing: border-box;
    width: 700px;
    margin: 5px 5px;
}

.language, .switch_languages {
    height: 40px;
    margin: 0px 5px;
}

button {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid #888888;
}

input, select, textarea {
    font-size: 1rem;
    padding: 4px;
    border: 2px solid #888888;
}

textarea {
    resize: vertical;
    width: 100%;
}

input:focus, select:focus, textarea:focus, button:focus {
    border-color: #478061;
    outline: 1px solid #478061;
}

body {
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    left: 0;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
}

header {
    width: 100%;
}

header h1 {
    margin: 20px 4px;
}

/* 1430 */

@media only screen and (max-width: 1450px) {
    form {
        width: 95vw;
        grid-template-areas: 'engines' 'languages' 'from' 'fromAudio' 'to' 'toAudio' 'translateButton';
    }
    div.languages, div.from, div.to, div.fromAudio, div.toAudio, div.translateButton {
        width: 93vw;        
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    div.translateButton {
        margin-top: 10px;
    }
    header {
        width: 80vw;
        margin: 0 auto;
    }
    .wrap {
        width: 95vw;
        justify-content: center;
    }
    header h1 {
        text-align: center;
    }
    .engines {
        width: 95vw;
        text-align: center;
    }
    text .item-wrapper {
        width: 100%;
    }
    .wrap-right {
        flex-wrap: wrap;
        width: 95vw;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .wrap-right .left {
        align-items: center;
        width: auto;
        justify-content: center;
        margin-bottom: 10px;
    }
    .wrap-right .left button {
        margin-left: 10px;
        margin-right: 10px;
    }
    .wrap-right .right {
        width: auto;
        margin-bottom: 10px;
    }
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        margin-top: 50px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: #f8f9fa;
    }
    a:visited {
        color: #9759f6;
        text-decoration: none;
    }
    a {
        color: #599bf6;
        text-decoration: none;
    }
    input, select, button, textarea {
        background-color: #131618;
        border-color: #495057;
        color: #f8f9fa;
    }
}

.engines {
    padding-left: 4px;
}