.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.wrap-right {
    text-align: right;
    margin-top: 20px;
    width: 100%;
}

.center {
    width: max-content;
    margin: auto;
    align-items: center;
}

#could_not_switch_languages_text {
    color: red;
}

.item {
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    margin: 0;
}

.item-wrapper {
    width: 700px;
    margin: 5px 5px;
}

.language,
.switch_languages {
    height: 40px;
    margin: 0px 5px;
}

button {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid #888888;
}

input,
select,
textarea {
    font-size: 1rem;
    padding: 4px;
    border: 2px solid #888888;
}

textarea {
    resize: vertical;
    height: 5rem;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    border-color: #478061;
    outline: 1px solid #478061;
}

body {
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
}

header h1 {
    margin: 20px 4px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: #f8f9fa;
    }
    #could_not_switch_languages_text {
        color: #F13333;
    }
    a:visited {
        color: #9759f6;
        text-decoration: none;
    }
    a {
        color: #599bf6;
        text-decoration: none;
    }
    input,
    select,
    button,
    textarea {
        background-color: #131618;
        border-color: #495057;
        color: #f8f9fa;
    }
}

.engines {
    padding-left: 4px;
}