div.languages {
    grid-area: languages;
    display: flex;
    flex-wrap: wrap;
}

div.engines {
    grid-area: engines;
    padding-left: 4px;
}

div.from {
    grid-area: from;
}

div.to {
    grid-area: to;
}

div.fromAudio {
    grid-area: fromAudio;
}

div.translateButton {
    grid-area: translateButton;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

div.toAudio {
    grid-area: toAudio
}

form {
    width: 1420px;
    display: grid;
    margin: auto;
    grid-template-areas: 'engines engines engines engines''languages languages languages languages''from from to to''fromAudio translateButton toAudio toAudio';
}

div.from, div.to {
    box-sizing: border-box;
    width: 700px;
    margin: 5px 5px;
}

div.fromAudio, div.toAudio {
    margin: 5px 5px;
}


textarea {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    height: 300px;
    margin: 0;
}

div.language, div.switch_languages {
    height: 40px;
    margin: 0px 5px;
}

button {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid #888888;
}

input, select, textarea {
    font-size: 1rem;
    padding: 4px;
    border: 2px solid #888888;
}

input:focus, select:focus, textarea:focus, button:focus {
    border-color: #478061;
    outline: 1px solid #478061;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align: center;
}

header {
    width: 1420px;
    margin: auto;
}

header h1 {
    margin: 20px 4px;
}

@media only screen and (max-width: 1450px) {
    div.from, div.to {
        width: 600px;
    }

    form, header {
        width: 1200px;
    }

}

@media only screen and (max-width: 1240px) {
    div.from, div.to {
        width: 500px;
    }

    form, header {
        width: 1000px;
    }
}

@media only screen and (max-width: 1050px) {
    form {
        grid-template-areas: 'engines''languages''from''fromAudio''to''toAudio''translateButton';
    }

    div.languages, div.from, div.to, div.fromAudio, div.toAudio, div.translateButton {
        width: 93vw;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        margin: auto;
        width: 93vw;
    }
    header{
        width: 93vw;
        text-align: center;
        margin: auto;
    }
    header h1 {
        margin: 0;
    }

    div.translateButton {
        margin-top: 10px;
    }


    div.engines {
        width: 95vw;
        text-align: center;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: #f8f9fa;
    }

    a:visited {
        color: #9759f6;
        text-decoration: none;
    }

    a {
        color: #599bf6;
        text-decoration: none;
    }

    input, select, button, textarea {
        background-color: #131618;
        border-color: #495057;
        color: #f8f9fa;
    }
}