<!doctype html>
<html lang="en">

<head>
    <title>SimplyTranslate</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="description" content="Experience simple and private translations">
    <meta itemprop="image" content="static/screenshot_dark.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <br>
    <div class="center">
        <header>
            <h1>SimplyTranslate Web</h1>
        </header>
        <br>
        <form id="form" action="/?engine=google" method="POST">
            <!-- engine buttons -->
            <div class="engines">
                Engine
                <a style="text-decoration: underline;" href="/?engine=google&typingiscool=False">Google</a> |
                <a href="/?engine=deepl&typingiscool=False">DeepL (Testing)</a> |
                <a href="/?engine=libre&typingiscool=False">LibreTranslate</a>
            </div>
            <br>
            <!-- from and to language -->
            <div class="wrap">
                <div class="language">
                    <select name="from_language" id="from_language" aria-label="Source language">
                        {{range $v := .LangListFrom}}
                        {{$v}}
                        {{end}}
                    </select>
                </div>

                <div class="switch_languages">
                    <button id="switchbutton" aria-label="Switch languages" formaction="?switchlangs=true&engine=google"
                        type="submit">
                        <->
                    </button>
                </div>

                <div class="language">
                    <select name="to_language" id="to_language" aria-label="Target language" selected="{{.To}}">
                        {{range $v := .LangListTo}}
                        {{$v}}
                        {{end}}
                    </select>
                </div>

            </div>
            <!-- text boxes -->
            <div class="wrap">
                <div class="item-wrapper">
                    <textarea autofocus class="item" id="input" name="input" dir="auto"
                        placeholder="Enter Text Here">{{.Input}}</textarea>
                </div>
                <div class="item-wrapper">
                    <textarea class="translation item" dir="auto" placeholder="Translation"
                        readonly>{{.Output}}</textarea>
                </div>
            </div>
            <div class="wrap-right">
                <button type="submit">Translate with google!</button>
            </div>
        </form>
    </div>
    <footer>
        <a target="_new" href="https://simple-web.org/projects/simplytranslate.html">Project Page</a> | <a
            href="https://simple-web.org">Simple Web Project</a>
    </footer>
    <script>
        document.onkeypress =
            function () {
                if (event.ctrlKey && event.keyCode == 13)
                    document.getElementById('form').submit();
            }
    </script>
</body>

</html>